body
{
}

.pd-100{
    padding-left:100px;
}

.mgL-200{
    margin-left:200px;
}

.mgR-200{
     margin-left:-70px;
}


.mgL-95{
    margin-left:95px;
}


.w80{
    width:80px;
}

.magL140{
    margin-left:140px;
}