body

{
    background-color:gainsboro;
    /*background-image:url("../img/te1.jpg");*/
}

.logo{
    width:100px;
}

.search{
    text-align :center;
    font-family: 'TH Sarabun New';
    font-weight: bold;
    line-height: 1.1;
     font-size: 40px; 
}
.fof{
    font-family: 'TH Sarabun New';
    font-weight: bold;
    line-height: 1.1;
    font-size: 20px; 
}

.divFieldSet{
    float: left;
    margin-top:15px;
}

.ss{
    width:200px;
    display: inline-block;
    margin-left:40px;
}

.ss1{
margin-top:10px;
width:200px;
}

.matop{
    margin-top:20px;
}

.bt{
     /*margin-left:10%;*/
     margin-top:5px;
}

.btt{
    margin-left:20px;
     margin-top:10px;
}

.aa{
    margin-left:45%;
     margin-top:20px;
}
.positionFixedLeft{
    position: fixed; 
    bottom: 220px; 
    left: 30px; 
    text-align: center;
}

.s{
    width: 18rem; height:100%;
}

.bgw{
    background-color:white;
}