body
{
    background-color:white;
}
 .navbar{
     height:70px;
 }
.bg-pink{
   background-color:white;   
}
.Cd1{
    font-weight:700;
   
}
.ma{

    height:70px;
   
}
.ss1{
    width:170px;
    height:35px;
    border-radius:5px;
    position:relative;
    float:right;
    right:0px;
    margin:20px;

}
.On{
       color:black;
      margin-left:20px;
}
.Jong{
    color:black;
}
.Sod{
    color:black;
}
.Pop{
color:black;
}
.Tot{
   width:70px;
   height:40px;
   margin:17px;
   background-color:#393535;
   border-color:#393535;

}
.Fon{
    color:black;
}
.suay{
    color:pink;
}

.wel{
    color:pink;  
 
}
.Login{
    color:white;
}
.Register{
    color:white;
}
.del{
    position:relative;
    float:right;

}
.Coc{
    margin-top:20px;
   
}
.os{
    margin-left:45px;
}

.oss{
    margin-left:45px;
}
.oss1{
    margin-left:20px;
}

.ross{
    margin-left:60px;
    margin-bottom:20px;
}
.nav-white{
    color:white;
}
.pic{
    width:80px;
}
.ros1{

    margin-left:100px;
}
.sic{
    height:35px;
    width:450px;
  
  
}
.momo{
    height:175px;
}
.card-img-overlay{
    padding:4.25rem;
}
.bobo{
    margin-top:30px;
}
.list {
    font-size: 30px;
    margin-top:10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'TH Sarabun New';
}
.god{
    font-family:'TH Sarabun New';
     font-weight:bold;
     font-size:25px;

}
.failoy{
    height:490px;
    width:400px;
   
}
.failoy1{
    height:400px;
    width:400px;
   
}
.han{
    margin-top:50px;
}
.han1{
     margin-top:20px;  
}

.fontcolor{
    font-size:larger;
    color:white;
}
.small{
    margin-right:50px;
}
.tt{
     font-size: 20px;
       font-weight: bold;
    font-family: 'TH Sarabun New';
   text-align:center;
 
}
.pp{
    font-family: 'TH Sarabun New';
    font-weight: bold;
    line-height: 1.1;
      margin-left:140px;    
      margin-top:15px;    
}
.mm{
    width:280px;
    height:40px;
}
.cc{
    width:500px;
}
.dd{
    font-family: 'TH Sarabun New';
    font-weight: bold;
    font-size: 20px;
}
.uo{
   position:relative;
   left:120px;
   margin-bottom:10px;
}
.uo1{
   position:relative;
   left:60px;
   margin-bottom:10px;
}
.ptp{
    max-width:200px;
}
.phot{
      font-family: 'TH Sarabun New';
    font-weight: bold;
    font-size: 20px;
}
.wer{
     font-family: 'TH Sarabun New';
    font-weight: bold;
    line-height: 1.1;   
    margin-left:90px;
    margin-top:15px;      
}
.tio{
    margin-top:15px;
}
.mmm{
    width:180px;
    height:40px;
}
.link-user-login{
          font-family: 'TH Sarabun New';
    font-weight: bold;
    font-size: 20px;

}
.ti{
    margin-bottom:5px;
}