@model FavoritePlaceViewModel

@{
    ViewBag.Title = "AlertFavorite";
}

@using (Html.BeginForm("Index", "AlertFavorite", FormMethod.Post))
{
<div class="container-fluid">
    <div class="row matop">
        <div class="col-md-12">
            <h2 class="search NameEvent">ห้อง/โซนที่ถูกสนใจ</h2>
        </div>
    </div>
</div>

@Html.Action("_PartialIndexAlertFavorite", "AlertFavorite", new { Place_ID = 100003 }) 


<nav aria-label="Page navigation example">
    <ul class="pagination aa">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


}














