@model FavoritePlaceViewModel

@{
    ViewBag.Title = "Favorite";
}


@using (Html.BeginForm("Index", "Favorite", FormMethod.Post))
{
<div class="container-fluid">
    <div class="row matop">
        <div class="col-md-12">
            <h2 class="search NameEvent">สถานที่ที่สนใจ</h2>
        </div>
    </div>
</div>

@Html.Action("_PartialIndexFavorite", "Favorite", new { Customer_ID = 100002 }) 


<nav aria-label="Page navigation example">
    <ul class="pagination aa">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

}









