@model FavoritePlaceViewModel

@{
    ViewBag.Title = "Favorite";
}

<div class="container-fluid">
    <div class="row matop">
        <div class="col-md-12">
            <h2 class="search NameEvent">สถานที่ที่สนใจ</h2>
        </div>
    </div>
</div>

@Html.Action("_PartialIndexFavorite", "Favorite", new { Customer_ID = 100002 }) 


<nav aria-label="Page navigation example">
    <ul class="pagination aa">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>




        <!-- Modal -->
<div class="modal fade" id="ModalFavoriteBooking" tabindex="-1" role="dialog" aria-labelledby="ModalFavoriteBooking" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fof" id="ModalFavoriteBooking">เตือน!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="fof">การจองของคุณถูกส่งไปยังผู้ให้เช่าแล้ว กรุณารอการติดต่อกลับ</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="ModalFavoriteDelete" tabindex="-1" role="dialog" aria-labelledby="ModalFavoriteDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fof" id="ModalFavoriteDelete">เตือน!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="fof">ข้อมูลของคุณจะถูกลบออกจากหน้านี้!!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>









