@model BookingModel
@{
    ViewBag.Title = "Booking";
}

        <div class="container-fluid">
        <div class="row matop">
            <div class="col-md-12">
                <h2 class="search NameEvent">รายการจอง</h2>
            </div>
        </div>
    </div>


@Html.Action("_PartialIndexBooking", "Booking", new { Place_ID = 100003 }) 
 
    @*<div class="row matop">


        <div class="col-md-3">          
            <div class="card">
                <div id="Booking1" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalBooking1" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100"/>                               
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100"/>    
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100"/>    
                            </div>
                        </div>
                    </a>

                    <div id="myModalBooking1" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100"/></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100"/></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100"/></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#Booking1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Booking1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body fof">
                    <h5 class="fof">ชื่อร้าน: ร้านอาหารแบร่ๆ </h5>
                    <p>ชื่อห้อง/โซน: ห้องบอลลูน</p>
                    <p>รหัสการจอง: 012345678</p>
                    <p>ราคา: 9,500 บาท</p>
                    <p>ค่ามัดจำ: 1,000 บาท</p>
                    <p>จำนวนคน: 30 คน</p>
                    <p>ติดต่อร้าน: 091-234-7890</p>
                    <p>อีเมล: event@hotmail.com</p>
                    <p>ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p>สถานะ:จอง</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalBooking">
                        ยกเลิก
                    </button>

                </div>
            </div>
        </div>



        <div class="col-md-3">           
            <div class="card">
                <div id="Booking1" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalBooking1" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>

                    <div id="myModalBooking1" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#Booking1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Booking1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body fof">
                    <h5 class="fof">ชื่อร้าน: ร้านอาหารแบร่ๆ </h5>
                    <p>ชื่อห้อง/โซน: ห้องบอลลูน</p>
                    <p>รหัสการจอง: 012345678</p>
                    <p>ราคา: 9,500 บาท</p>
                    <p>ค่ามัดจำ: 1,000 บาท</p>
                    <p>จำนวนคน: 30 คน</p>
                    <p>ติดต่อร้าน: 091-234-7890</p>
                    <p>อีเมล: event@hotmail.com</p>
                    <p>ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p>สถานะ: รอวางมัดจำ (ช่วงเวลา 12:00-14:00 น.) *ถ้าเกินช่วงเวลาดังกล่าวการจองถือเป็นโมฆะ</p>
                    <p class="card-text">วันที่จอง: 21/01/62</p>
                    <p class="card-text">ถึงวันที่: 21/01/62</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalBooking">
                        ยกเลิก
                    </button>

                </div>
            </div>
        </div>*@




        @*<div class="col-md-3">            
            <div class="card">
                <div id="Booking1" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalBooking1" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>

                    <div id="myModalBooking1" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#Booking1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Booking1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body fof">
                    <h5 class="fof">ชื่อร้าน: ร้านอาหารแบร่ๆ </h5>
                    <p>ชื่อห้อง/โซน: ห้องบอลลูน</p>
                    <p>รหัสการจอง: 012345678</p>
                    <p>ราคา: 9,500 บาท</p>
                    <p>ค่ามัดจำ: 1,000 บาท</p>
                    <p>จำนวนคน: 30 คน</p>
                    <p>ติดต่อร้าน: 091-234-7890</p>
                    <p>อีเมล: event@hotmail.com</p>
                    <p>ตำแหน่งที่ตั้ง: 99/9 ซอย9 บลาๆ</p>
                    <p>สถานะ: ยกเลิก</p>
                </div>
            </div>
        </div>



        <div class="col-md-3">             
            <div class="card">
                <div id="Booking1" class="carousel slide" data-ride="carousel">
                    <a class="btn" href="#myModalBooking1" data-toggle="modal">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                            <div class="carousel-item">
                                <img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" />
                            </div>
                        </div>
                    </a>

                    <div id="myModalBooking1" class="modal hide fade" tabindex="-1">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                            <p><img src="~/IMG1/งานแต่ง1.jpg" class="d-block w-100" /></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#Booking1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#Booking1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body fof">
                    <h5 class="fof">ชื่อร้าน: ร้านอาหารแบร่ๆ </h5>
                    <p>ชื่อห้อง/โซน: ห้องบอลลูน</p>
                    <p>รหัสการจอง: 012345678</p>      
                    <p>ราคา: 9,500 บาท</p>
                    <p>ค่ามัดจำ: 1,000 บาท</p>
                    <p>จำนวนคน: 30 คน</p>
                    <p>ติดต่อร้าน: 091-234-7890</p>
                    <p>อีเมล: event@hotmail.com</p>
                    <p>ตำแหน่งที่ตั้ง: 99/9 ซอย9 บราๆ</p>
                    <p>สถานะ: การจองสำเร็จ</p>
                    <p class="card-text">วันที่จอง: 21/01/62</p>
                <p class="card-text">ถึงวันที่: 21/01/62</p>                                     
                </div>
            </div>                                
        </div>
    </div>*@



<nav aria-label="Page navigation example">
    <ul class="pagination aa">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>





                   <!-- Modal -->
<div class="modal fade" id="ModalBooking" tabindex="-1" role="dialog" aria-labelledby="ModalBooking" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fof" id="ModalBooking">เตือน!!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="fof">การจองของคุณจะถูกยกเลิก!!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>









@*<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ตกลง</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@



